<div class="topnav">
    <a class="<%= path === '/' ? 'active' : ''  %>" href="/">Home</a>
    <a class="<%= path === '/shop' ? 'active' : '' %>" href="/shop">Shop</a>
    <a class="<%= path === '/mens' ? 'active' : '' %>" href="/mens">Mens</a>
    <a class="<%= path === '/womens' ? 'active' : '' %>" href="/womens">Womens</a>
    <a class="<%= path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
    <a class="<%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
</div>