<%- include('includes/head.ejs') %>
<%- include('includes/payment.ejs') %>
<link rel="stylesheet" href="/public/css/cart.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div align="center">
    <h2>Know Better Clothing</h2>
    <h3>Shopping Cart</h3>
</div>
<hr>
<div class="shopping-cart" align="center">
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
      <div class="image">
        <img id="cartpic" style="height: 60px; width: 50px;" src="/images/<%= data.img %>" alt="">
      </div>
   
      <div class="description">
        <span><%= data.brand %></span>
        <span><%= data.product %></span>
        <span><%= data.colour %></span>
        <span><%= data.size %></span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button">+
        </button>
        <input type="text" value="1" style="width: 4%; text-align: center;">
        <button class="minus-btn" type="button" name="button">-
        </button>
      </div>
   
      <div class="total-price">
        <p>
            <%= data.price %>
        </p>
      </div>
      <hr>
      <a href="/delivery"><input type="submit" value="Continue to checkout" class="btn"></a> 
      </div>
    </div>
  </div>
</html>