<%- include('includes/head.ejs') %>
</head>
<body>
    
<%- include('includes/navigation.ejs') %>
<img src="/images/<%= temp.img %>" alt="">
                    <p>
                        <%= temp.brand %>
                        <%= temp.product %>
                        <%= temp.colour %>
                        <%= temp.gender %>
                         
                    </p>
                    <p>
                        <%= temp.price %>
                    </p>
                    
                    
<%- include('includes/footer.ejs') %>
</html>