<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Know Better Men's Clothing</h1>
<hr>    
<br>
<br>
    
        <div>
            <a href="">
                <img src="/images/<%= data.img %>" alt="">
            </a>
        </div>
    <div>
        <a href="">
            <p>
                <%= data.brand %>
                <%= data.type %>
                <%= data.colour %>
                <%= data.size %>
                 
            </p>
            <p>
                <%= data.price %>
            </p>
        </a>
    </div>
        

<%- include('includes/products.ejs') %>
<%- include('includes/footer.ejs') %>
</body>
</html>