<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Know Better Clothing</h1>
<hr>
<br>
<br>
<div id="row">
    <div id="column">
        <a href="">
            <img src="/images/<%= data.img %>" alt="">
            <p>
                <%= data.brand %>
                <%= data.type %>
                <%= data.colour %>
                <%= data.size %>
                 
            </p>
            <p>
                <%= data.price %>
            </p>
        </a>
    </div>
    <div id="column">
        <a href="">
            <img src="/images/<%= data.img %>" alt="">
            <p>
                <%= data.brand %>
                <%= data.type %>
                <%= data.colour %>
                <%= data.size %>
                 
            </p>
            <p>
                <%= data.price %>
            </p>
        </a>
    </div>
</div>
    
<%- include('includes/products.ejs') %>
<%- include('includes/footer.ejs') %>
</body>
</html>