<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div align="center">
        <img src="/images/Know Better Clothing Logo.jpg" alt="">
    </div>
    <h1>Know Better Women's Clothing</h1>
<hr>
<br>
<br>
<div>
    <img src="/images/blackjumperkbc.jpg" alt="" id="blackjumper">
</div>
<p>
    <%= data.brand %>
    <%= data.type %>
    <%= data.colour %>
    <%= data.size %>
     
</p>
<p>
    <%= data.price %>
</p>
<%- include('includes/products.ejs') %>
<%- include('includes/footer.ejs') %>
</body>
</html>